<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="D:/logs"/>
    <!--    <property name="FILE_LOG_PATTERN" value="%d{yyyy/MM/dd-HH:mm:ss:SSS} [%tid] [%sid][%pid] %X{sessionTokenId} [%thread] %-5level %logger- %jsonMsg%n"/>-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--    <conversionRule conversionWord="jsonMsg" converterClass="com.ke.iprd.log.aop.JsonMessageConverter" />-->

    <logger name="druid" level="DEBUG" />
    <logger name="executableSql" level="DEBUG" />
    <logger name="com.alibaba.druid.filter.stat" level="INFO" />
    <!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder" charset="UTF-8">-->
    <!--            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
    <!--                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>-->
    <!--            </layout>-->
    <!--        </encoder>-->
    <!--    </appender>-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <springProfile name="test,preview,prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/sql.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/sql-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="SLOW_SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/sql-slow.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/sql-slow-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="DUBBO_CONSUMER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/dubbo/dubbo-consumer.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/dubbo-consumer-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="DUBBO_PROVIDER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/dubbo/dubbo-provider.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/dubbo-provider-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!--        &lt;!&ndash; 异步输出 &ndash;&gt;-->
        <!--        <appender name ="ASYNC_FILE" class= "ch.qos.logback.classic.AsyncAppender">-->
        <!--            &lt;!&ndash; 是否阻塞，避免引起业务线程阻塞 &ndash;&gt;-->
        <!--            <neverBlock>true</neverBlock>-->
        <!--            &lt;!&ndash; 不丢失日志.默认如果队列的80%已满(<discardingThreshold >20</discardingThreshold>),则会丢弃       TRACT、DEBUG、INFO级别的日志 &ndash;&gt;-->
        <!--            <discardingThreshold >0</discardingThreshold>-->
        <!--            &lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;-->
        <!--            <queueSize>1024</queueSize>-->
        <!--            &lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;-->
        <!--            <appender-ref ref ="FILE"/>-->
        <!--        </appender>-->


        <logger name="druid" level="DEBUG" additivity="false">
            <appender-ref ref="SQL_FILE"/>
        </logger>
        <logger name="executableSql" level="DEBUG" additivity="false">
            <appender-ref ref="SQL_FILE"/>
        </logger>
        <logger name="com.alibaba.druid.filter.stat" level="INFO" additivity="false">
            <appender-ref ref="SLOW_SQL_FILE"/>
        </logger>
        <logger name="dubboConsumerLogger" level="INFO" additivity="false">
            <appender-ref ref="DUBBO_CONSUMER_FILE"/>
        </logger>
        <logger name="dubboProviderLogger" level="INFO" additivity="false">
            <appender-ref ref="DUBBO_PROVIDER_FILE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <!-- 控制台打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>[%-5level] %d{${DATETIME}} [%thread] %logger{36} - %m%n
            </pattern>
        </encoder>
    </appender>

    <!-- SQL相关日志输出-->
    <!-- mapper所在的包-->
    <logger name="com.lianjia.sinan.fastaccess.dao.mapper" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
